<div class="container">
  <div class="panel panel-default">
    <div class="panel-header container">
      <h4 style="text-align: center"> Sign up </h4>
    </div>
<style>
.formcolumn{ /* column div inside form */
width: 49%;
float: left;
}

.formcolumn:first-of-type{
margin-right: 5px; /* 2% margin after first column */
}

.formcolumn:nth-of-type(2){

  padding-left: 5px; /* add padding to top of 2nd form column, so there is a gap between the 1st and 2nd column */
  }

@media screen and (max-width: 480px){ /* responsive form settings, when window width is 480px or less */


  .formcolumn{
  width: 100%;
  float: none;
  }
  
  .formcolumn:first-of-type{
  margin-right: 0; /* remove right margin from first form column */
  }

  .formcolumn:nth-of-type(2){
  padding-top: 2em; /* add padding to top of 2nd form column, so there is a gap between the 1st and 2nd column */
  }

  #contactform {
  width: 98%;
  }

}


</style>


<div class="panel">
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :id => "contactform", :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>


      <div class="formcolumn">
        <div class="form-group">
          <div><%= f.label "First and last name" %><br />
          <%= f.text_field :name, :autofocus => true, class: "form-control"  %></div>
        </div>

        <div class="form-group">
          <div><%= f.label "Phone number" %><br />
          <%= f.text_field :phone_number, :autofocus => true, class: "form-control"  %></div>
        </div>

        <div class="form-group">
          <div><%= f.label "Email address" %><br />
          <%= f.email_field :email, :autofocus => true, class: "form-control" %></div>
        </div>

        <div class="form-group">
          <div><%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control" %></div>
        </div>
      </div>

      <div class="formcolumn">

        <div class="form-group">
          <div><%= f.label :address_line_1 %><br />
          <%= f.text_field :address_line_1, :autofocus => true, class: "form-control"  %></div>
        </div>

        <div class="form-group">
          <div><%= f.label :address_line_2 %><br />
          <%= f.text_field :address_line_2, :autofocus => true, class: "form-control"  %></div>
        </div>


        <div class="form-group">
          <div><%= f.label "Zip code / Postal code" %><br />
          <%= f.text_field :address_zip, :autofocus => true, class: "form-control"  %></div>
        </div>

        <div class="form-group">
          <div><%= f.label "City, state" %><br />
          <input type="text" id="special" class="form-control"></input>
          </div>
        </div>

        <%= hidden_field(:user, :address_city) %>
        <%= hidden_field(:user, :address_state) %>
        <%= hidden_field(:user, :home) %>
      </div>
      <script>
      $('#special').on('change', function(data) {
          var value = $('#special').val();
          console.log(value);
          var arr = value.split(", ");
          var city = arr[0];
          var state = arr[1];
          $("#user_address_city").val(city);
          $("#user_address_state").val(state);
      });

      console.log("Hello");
      $('#user_address_zip').ziptastic().on('zipChange', function(evt, country, state, state_short, city, zip) {
        console.log(city + ", " + state_short);
        if (city !== undefined && state_short !== undefined) {
          $("#special").val(city + ", " + state_short);
          $("#user_address_state").val(state_short);
          $("#user_address_city").val(city);
         $("#user_address_city").val(city);
           
        }
        else {
          if ($('#user_address_zip').val().length !== 0)  {
            $("#special").val("Zip code not found.");
          }
        }
      });

      function runner() {
          line_a = $("#user_address_line_1").val();
          var home = line_a + ", " + $("#user_address_city").val() + " " + $("#user_address_state").val() + " " + $("#user_address_zip").val();
          $("#user_home").val(home);
          console.log(home);     
      }

      </script>
      <div><%= f.submit "Sign up", :class => "btn btn-success", onclick: "runner();" %></div>
  
    <% end %>
    </div>
    
    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>



