<% if current_user %>
<div class="container" style="position: relative;">
  <div class="panel panel-default">
    <div class="panel-header container">
      <h4 style="text-align: center">Dishes by <a href="http://localhost:3000/users/<%= params["id"] %>/show"><%= User.find(params["id"]).name %></a> </h4>
    </div>

<style>
  table {
      border-spacing: 10px;
  }

        th {
            text-align: center;
        }

</style>

    <div class="panel-body" style="max-height: 350px; overflow-y: scroll;">
      <table class="table-bordered">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Multiple</th>
            <th colspan="3">Quick</th>
          </tr>
        </thead>

        <tbody>
          <% @dishes.each do |dish| %>
            <tr>
              <% if dish.image_url != "" %>
                <td><a href="/dishes/<%= dish.id %>"><img height="75px" src='<%= dish.image_url %>'></a></td>
              <% else %>
                    <td>
                      <a href="/dishes/<%= dish.id %>"><img height="75px" src='<%= dish.image.to_s.gsub('http://s3.amazonaws.com/'+ENV['AWS_BUCKET_NAME']+'/', 'http://'+ENV['AWS_BUCKET_NAME']+'.s3.amazonaws.com/') %>'></a>
                    </td>
              <% end %>
              <td><%= dish.name %></td>
              <td><%= dish.description %></td>
              <td>$<%= dish.price %></td>


              <%= render 'dish_row_table', dish: dish, order_item: @order_item %>
              <% if current_user.customer_id != nil %>
                  <td><%= link_to 'Order', order_dish_path(dish), method: :post, class: "btn-floating btn-large waves-effect waves-light blue" %></td>
              <% else %>
                  <td> <button class="red" onclick="addStripeInformation({'name':'<%= current_user.name %>','email':'<%= current_user.email %>'});" style="font-size: 15px; border-radius: 20px 20px 20px 20px; width: 70px; font-famiy: Helvetica Neue;">Add Card</button> </td>
              <% end %>


            </tr>

          <% end %>
        </tbody>

      </table>
    </div>

    <div class="panel-footer" style="text-align: center;">
      <%= link_to 'Back', root_path, method: :get, class: "btn btn-success"%>
    <% if @dishes.length > 0 %>
        <% if @dishes.first.user_id != current_user.id %>
          <%= link_to 'Send message', new_message_path(:user => User.find(@dishes.first.user_id)), class: 'btn btn-success'%>
        <% end %>
      <% end %>
            <%= link_to 'Check Out', '/cart', method: :get, class: "btn btn-success"%>

    </div>
  </div>
</div>

<% else %>
    <!--<script>-->
//      if (confirm('You must be signed in to view this page', "OK")) {
//        window.location.href = "https://www.trophus.com";
//      }
//      else {
//        window.location.href = "https://www.trophus.com";
//      }
//
//
    <!--</script>-->
<% end %>
