<!DOCTYPE html>
<html>
<head>
  <title>trophus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <style>
      html, body {
        background-color: #26a69a;
      }
    </style>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63652026-1', 'auto');
  ga('send', 'pageview');

</script>

  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("8350f02b620a775db28749ea0fa75e54");</script><!-- end Mixpanel -->


</head>
<body>

<script>
    mixpanel.track("Account was viewed");
</script>

	<%= render('layouts/header3') %>

<div class = "container">

  <div class="panel panel-default" style="margin-top: 10%">
    <div class="panel-header container">
      <h5 style="text-align: center;"><%= @user.name %> </h5>
    </div>

    <div class="panel-body">

<%= image_tag @user.prof_pic, style: "max-height: 200px; border-radius: 10px 10px 10px 10px;" %>

</br>

<div style="float: left;">
<p> <%= @user.email %> </p>

<% if User.find(@user.id).dishes.length > 0 %>
   <%= button_to "View dishes", "/users/" + @user.id.to_s + "/dishes", style: "margin-bottom: 5px;", class: "btn btn-success", method: :get %>
<% else %>
  <p> <%= User.find(@user.id).name.split(" ")[0] %> hasn't added any dishes yet. </p>
<% end %>

<% if current_user %>
<% if current_user.id == @user.id %>
  <% if session[:access_token].nil? %>
    <a href="/oauth/connect">
      <div class="userx" id="instagram-connect">Instagram Login</div>
    </a>

  <% else %>
    <% if current_user.prof_pic.nil? %>
    <span id="spannerbutton">
                                    <%= tag "input", 
                                        { "type" => "button", 
                                            class: "userx btn btn-success", 
                                            "value" => "Add Profile Picture", 
                                            "onclick" => "instaModalSingleProfilePic();" 
                                        } %> 
                                </span>
                        <% else %>
                                <span id="spannerbutton">
                                    <%= tag "input", 
                                        { "type" => "button", 
                                            class: "userx btn btn-success", 
                                            "value" => "Change Profile Picture", 
                                            "onclick" => "instaModalSingleProfilePic();" 
                                        } %> 
                                </span>
                        <% end %>
                    <% end %>

<% else %>

      <% unless current_user == @user %>
        <%= link_to 'Send message', new_message_path(:user => @user.id), class: 'btn btn-default btn-sm' %>
      <% end %>

<% end %>
<% end %>
    </div>

</div>
    
    <div class="panel-footer">
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>

<div id="modalProfile" class="modal" aria-hidden="true" style="position: fixed;">
  <div class="modal-content"  style="overflow-y: auto; height: 400px;">
    <div class="picker"> <select class="image-picker show-html" id="insta_prof"></select> </div>
  </div>

  <div class="modal-footer">
    <button id="change-prof-pic" onclick="profChanger()" class="modal-action modal-close waves-effect waves-green btn-flat">SELECT</button>
    <button class="modal-action modal-close waves-effect waves-red btn-flat">CANCEL</button>
  </div>
</div>


</body>
</html>

