<h1> <%= @user.username %>'s recent media</h1>

<% @client.user_recent_media.each do |item| %>
	<div style='float:left;'>
		<img src= '<%= item.images.thumbnail.url %>'><br/> 
		<a href='/media_like/<%= item.id %>'>Like</a>  
		<a href='/media_unlike/<%= item.id %>'>Un-Like</a>  
		<br/>LikesCount= '<%= item.likes[:count] %>'
	</div>
<%	end %>