    <% if @map_route %>
    	      <style>
			a:link {
				color: #84ffff;	
			}

			a:hover {
				color: #e1f5fe;	
			}

			a:visited {
				color: #1a237e;
			}
/*
			#multigo {
				overflow:auto;
				animation-delay: 1s;	
				animation: move 5s ease forwards;
			}

			@keyframes move {
			  100% {
			    transform: translate(100px);
			  }
			}
	
			#livefeed {
				overflow:auto;
				animation-delay: 1s;	
				animation: move2 5s ease forwards;
			}

			@keyframes move2 {
			  100% {
			    transform: translate(300px, 200px);
			  }
			}
	*/

			#feeds {
				width: 100%;
				float: right;
			}

	      </style>

	    <div id="map-canvas" style="position: relative; left: 0px; top: 15px; width: 650px; height: 500px;"></div>
		

		<div id="feeds" style="float: right; width: 100%">
	      <div id="livefeed" style="position: absolute; z-index: 390; right: -15px; top: 30px; width: 20%; height: 250px; background-color: teal; border-radius: 10px 10px 10px 10px">
	          <div id="upperpart" style="position: relative; background-color: white; width: 100%; height: 40px; border-radius: 10px 10px 0 0;">
	            <span style="text-align: center"><p> Dishes Around You </p></span>
	            <% users = User.within(1, :origin => current_user) %>
	            <% users.each {|user| %>
	            <% dishes = user.dishes %>
		            <% dishes.each { |dish| %>
		            	<a style="margin: 5px 5px 5px 5px; text-decoration: none;" href="dishes/<%= dish.id %>"> <%= dish.name %> </a> </br>
		           	<% } %>
	           	<% } %>
	          </div>
	      </div>



	      <div id="multigo" style="position: absolute; bottom: 50px; z-index: 400; right: -15px; width: 20%; height: 150px; background-color: teal; border-radius: 10px 10px 10px 10px">
	          <div id="upperpart" style="position: relative; background-color: white; width: 100%; height: 40px; border-radius: 10px 10px 0 0;">
	          <span style="text-align: center"><p> People Around You</p></span>
		      	<div id="lowerpart" style="overflow-y: scroll; height: 100px;">
		            <% users = User.within(1, :origin => current_user) %>
		            <% users.each {|user| %>
		              <a class="users" style="margin: 5px 5px 5px 5px; text-decoration: none;" href="users/<%= user.id %>/show"> <%= user.name %> </a> </br>
		            <% } %>
		      	</div>
	          </div>
	      </div>


<% if current_user %>
  <script>
    initialize(<%= current_user.id %>);
    $("#multigo").draggable();
    $("#livefeed").draggable();
    $("#map-canvas").draggable();
  </script>
<% end %>


    <% end %>

