
<style>
@media screen and (max-width: 480px){ 
	#map-canvas {
		height: 350px;
		width: 100%;
		top: 7px;
	}

	#livefeed {
		background-color: #bdc3c7;
		width: 45%;
		height: 200px;
		position: relative;
		float: left;
	}

	#multigo {
		background-color: #bdc3c7;
		width: 45%;
		height: 200px;
		position: relative;
		float: right;
	}

	.feeds {
		margin-top: 10px;
	}
}

@media screen and (min-width: 480px){ 
	#map-canvas {
		height: 500px;
		width: 900px;
	}

	#livefeed {
			  background-color: #bdc3c7;
			  width: 140px; 
			  height: 200px; 
	}

	#multigo {
			  background-color: #bdc3c7;
			  width: 140px; 
			  height: 200px; 
	}

	.feeds {
	  z-index: 100;
	  position: absolute;
	  left: 100px;
	  top: 20px;
	  display: block;
	  opacity: 0.90
	}

}

</style>

<% if current_user %>
<span data-id="<%= current_user.id %>"></span>


    <div class="feeds">
      <div id="multigo" style="z-index: 400; border-radius: 10px 10px 10px 10px">
        <div class="upperpart">
          <span style="text-align: center"><p> People Around You</p></span>
          <div class="lowerpart">
            <% users = User.within(1, :origin => current_user) %>
            <% users.each {|user| %>
                <%   if user.dishes.length > 0 and user.id != current_user.id %>
                    <a class="users" style="margin: 5px 5px 5px 5px; color: #1565c0; text-decoration: none; opacity: 1.0" href="users/<%= user.id %>/show"> <%= user.name %> </a> </br>
                <% end %>
            <% } %>
          </div>
        </div>
      </div>

      <div id="livefeed" style="z-index: 390; border-radius: 10px 10px 10px 10px">
        <div class="upperpart">
          <span style="text-align: center"><p> Dishes Around You </p></span>
          <div class="lowerpart">
            <% users = User.within(1, :origin => current_user) %>
            <% users.each {|user| %>
                <% if user.id != current_user.id %>
                    <% dishes = user.dishes %>
                    <% dishes.each { |dish| %>
                        <a style="margin: 5px 5px 5px 5px; text-decoration: none; color: #1565c0; opacity: 1.0" href="dishes/<%= dish.id %>"> <%= dish.name %> </a> </br>
                    <% } %>
                <% end %>
            <% } %>
          </div>
        </div>
      </div>

    </div>

    <div id="map-canvas"></div>


    <script>
        $("#multigo").draggable();
        $("#livefeed").draggable();

        var item = $('[data-id]')[0];
        var num = item.getAttribute('data-id');
        var numba = parseInt(num);
        initialize(numba);
    </script>

<% else %>
    <script type="application/javascript">
//      var userid = "arthurcolle";
//      var key = "XG4yddTMWKuo4Hc1WmUxEZ2J6HQqdZtBIQJuAf69dpe7A9PO";
//      https://freegeoip.net/json/108.56.79.244
              function getIP(json) {
                  var site = "https://freegeoip.net/json/"+ json.ip;
                  console.log(site);
                  $.get(site, function(response) {
                      console.log(response);
                      $.ajax({
                          url: 'store_temporary_user_location',
                          data: {"location": [response.latitude, response.longitude], "ip": response.ip},
                          type: "POST"
                      }).done(function( html ) {
                          document.write(html);
                      });
                  }, "json");
              }

    </script>

    <script type="application/javascript"
            src="https://api.ipify.org?format=jsonp&callback=getIP">

    </script>



<% end %>






