<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>




<div id="place-image"></div>
<!-- callback_param: "user[avatar_url]", 
                     callback_url: user -->
<%= s3_uploader_form class: "s3-uploader", 
                     id: "myS3Uploader" do %>
    <%= file_field_tag :file, multiple: false %>
<% end %>

<%= form_for(@dish) do |f| %>


  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div id="instaject-outer" style="padding: 10px; display: none;"> <!-- style="display: none;"> -->
        <div id="instaject"></div>
      </div>

      <% if session[:access_token].nil? %>
        <a href="/oauth/connect">
            <button class="button btn btn-primary" id="instagram-connect">
                <i class="fa fa-instagram"></i>
                Connect to Instagram
            </button>
        </a>
      <% end %>
<!-- 

    <div class="file-field input-field">
      <input class="file-path form-control" type="text"/>
      <div class="btn">
        <span style="padding-right: 10px">File</span>
        <input id="dish_image" name="dish[image]" type="file" />
      </div>
    </div>
  </div> -->

  <div class="form-group">
    <span id="spannerbutton">
      <%= tag "input", { "type" => "button", class: "btn btn-success", "value" => "Instagram Upload", "onclick" => "instaModalSingle();" } %> 
    </span>
  </div>


  <%= f.hidden_field :direct_image_url %>

  <div class="form-group"> 
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div> 
  
  <div class="form-group"> 
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group"> 
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>
  </div> 

  <div class="actions"> 
    <%= f.submit :class => "btn btn-success" %>
  </div> 
<% end %>
