<%= form_for(@dish, :html => { :multipart => true }) do |f| %> 

<span id='hideAfter'>


  <div class="form-group">
    <%= f.label :image %>
      <div id="instaject-outer" style="padding: 10px; display: none;"> <!-- style="display: none;"> -->
    <div id="instaject"></div>
<!--     <button class = "button btn btn-primary" id="removeButton"
            onclick = "removePic();">
            Remove image
    </button> -->
  </div>

<!-- 
      <%= f.file_field :image, class: "form-control", style: "width: 40%;" %> </br>

      <input class="form-control" id="dish_image" name="dish[image]" style="width: 40%;" type="file" /> </br>

 -->
            <% if session[:access_token].nil? %>

    <a href="/oauth/connect">
            <button class="button btn btn-primary" id="instagram-connect">
            <i class="fa fa-instagram"></i>
               Connect to Instagram
            </button>
          </a>
    

  <% end %>


    <div class="file-field input-field">
      <input class="file-path form-control" type="text"/>
      <div class="btn">
        <span style="padding-right: 10px">File</span>
        <input id="dish_image" name="dish[image]" type="file" />
      </div>
    </div>



  </div>

  <div class="form-group">



          <span id="spannerbutton">
        <%= tag "input", { "type" => "button", class: "btn btn-success", "value" => "Instagram Upload", "onclick" => "instaModalSingle();" } %> 
      </span>
  </div>
</span>

  <%= f.hidden_field :image_url, :id => "imageURL" %>

  <div class="form-group"> 
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div> 
  
  <div class="form-group"> 
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group"> 
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>
  </div> 

  <div class="actions"> 
    <%= f.submit :class => "btn btn-success" %>
  </div> 

<% end %>