
<style>
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  border-collapse:collapse;
}

.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) "";
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }

}


h1 {
  font-weight: normal;
  letter-spacing: -1px;
}

.rwd-table {
/*  background: #34495E;
  color: #fff;*/
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
/*  border-color: #46627f;*/
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
/*  color: #dd5;*/
}

.table th, .table td, thead { 
     border-top: none !important; 
 }

thead {
  border-bottom: 0px;
}

 .adjusting-instagram {
  display: block;
  margin: 0 auto;
 }

 .dish_item {
    border:1px solid #26A69A;
    border-width: 1px;
 }


@media {
  .buttonic {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

</style>


  <div class="panel panel-default" style="margin-top: 10px; width: 100%; height: 500px">
    <div class="panel-header">
      <h4 style="text-align: center">Listing your dishes</h4>

    <div class="adjusting-instagram">
      <div style="width: 30px"></div>
      <% if session[:access_token].nil? %>
          <button class="button btn btn-primary modal-trigger" onclick="window.location.href='/oauth/connect'" style="text-align: center; display: block; margin-left: auto; margin-right: auto;">
            Instagram Login
          </button>
      <% else %>
      <button class="button btn btn-primary modal-trigger" onclick="instaModal();" style="text-align: center; display: block; margin-left: auto; margin-right: auto;">
        Multicreate
      </button>
          <% end %>

<!-- <button class="button btn btn-primary" id="instagram-connect" style="margin: auto; margin-bottom: 10px; width: 140px; font-size: x-small;">
            <i class="fa fa-instagram" style="margin-right: 10px;"></i>
               SIGN IN
          </button> -->
    </div>
              <span id="spannerbutton"></span>
    
    </div>

    <div class="panel-body" style="height: 350px; overflow-y: scroll;">
      <table class="table rwd-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @dishes.each do |dish| %>
          <% if dish.visible != false %>
            <tr class="dish_item">
              <% if dish.image_url != nil %>
                <td data-th="Image"><a href="<%= ENV['APP_URL'] %>/dishes/<%= dish.id %>"><img height="75px" src='<%= dish.image_url %>'></a></td>
              <% else %>
                    <td>
                      <a href="https://www.trophus.com/dishes/<%= dish.id %>"><img height="75px" src='<%= dish.direct_image_url.gsub('https://',"http://") %>'></a>
                    </td>
              <% end %>


              <td data-th="Name"><%= dish.name %></td>
              <td data-th="Description"><%= dish.description %></td>
              <td data-th="Price">$<%= dish.price %></td>

                <td class="btn-group" data-toggle="buttons">
            <span class="center-block">
            <button class="buttonic button btn"><a style="color: white;" href="<%= edit_dish_path(dish) %>">Edit</a></button>
            <button class="buttonic button btn"><%= link_to 'Delete', dish, :method => :delete, data: { confirm: 'Are you sure?' },  style: "color: white;"  %></button></span>
        </td>


<!-- <button class="buttonic button btn"><a style="color: white;" href="<%= edit_dish_path(dish) %>">Edit</a></button> <button class="buttonic button btn"><%= link_to 'Delete', dish, :method => :delete, data: { confirm: 'Are you sure?' },  style: "color: #e67e22;"  %></button> </td> -->
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>