<div class="panel panel-default" style="position: absolute; display: block; margin-left: auto; margin-right: auto;">
  <div class="panel-heading">

  <style>
    #foodpic { 
      z-index: -100;
      max-height: 250; 
      border-radius:30px; 
      overflow: hidden; 
      box-shadow: 7px 7px 7px rgba(0,0,0,0.3);

    }

    #dish_data {
      margin-top:0px;
      padding-bottom: 15px;
    }
  

#desc {
  float: right;
}

@media screen and (max-width: 480px){ /* responsive form settings, when window width is 480px or less */
  #desc {
    float: none;
  }
}


  </style>

  <h4 id="dish_data">

      <span style="float:left; font-size: x-large;"> <%= @dish.name %></span></br>
      <span style="float:left; font-size: large;">  $<%= @dish.price %> </span>

      <% if current_user.customer_id != nil %>

      <div style="position: absolute; right: 0px; bottom: 5%">   <%= link_to 'Order', order_dish_path(@dish), method: :post, class: "btn-floating btn-large waves-effect waves-light blue", style: "font-size: 15px; bottom: 10px" %>
      </div>

      <% else %>

        <button class=" btn-large waves-effect waves-light red" onclick="addStripeInformation({'name':'<%= current_user.name %>','email':'<%= current_user.email %>'});" style="font-size: 10px; border-radius: 20px 20px 20px 20px; position: absolute; right: 0px; bottom: 5%">Add Card To Order</button>
      <% end %>


  </h4>

  </div>

    <div class="panel-body" style="width: 100%">

  <div id="food_image">
              <% if @dish.image_url != "" %>
                <img height="250px" src='<%= @dish.image_url %>'>
              <% else %>
                 <img height="250px" src='<%= @dish.image.to_s.gsub('http://s3.amazonaws.com/'+ENV['AWS_BUCKET_NAME']+'/', 'http://'+ENV['AWS_BUCKET_NAME']+'.s3.amazonaws.com/') %>'>
              <% end %>

        <div id="desc" style="text-align: center;"><h5><%= @dish.description %> </h5> </div>



          </div>


<h5 style="text-align: center;"></h5>

                

  </div>

<div class="panel-footer" style="min-height: 50px">
  <% if current_user.id == @dish.user_id %>
    <%= link_to 'Edit', edit_dish_path(@dish), class: "btn-floating btn-large waves-effect waves-light teal" %>
    <%= link_to 'Back', dishes_path, class: "btn-floating btn-large waves-effect waves-light teal" %>
  <% else %>
  <div style="float:right;"> Listed by <a style="font-size: small;" href='/users/<%= User.find(@dish.user_id).id %>/show'> <%= User.find(@dish.user_id).name %></a> </div>
  <% end %>
</div>

</div>

