<div class="panel panel-default" style="position: absolute; display: block; margin-left: auto; margin-right: auto;">
  <div class="panel-heading">

  <style>
    #foodpic { 
      z-index: -100;
      height: 300; 
      border-radius:30px; 
      overflow: hidden; 
      box-shadow: 7px 7px 7px rgba(0,0,0,0.3);

    }

    #dish_data {
      margin-top:0px;
      padding-bottom: 15px;
    }
  </style>

  <h4 id="dish_data">

      <span style="float:left"> <%= @dish.name %></span></br>
      <span style="float:left">  $<%= @dish.price %> </span>

      <% if current_user.customer_id != nil %>

      <div style="position: absolute; right: 0px; bottom: 5%">   <%= link_to 'Order', order_dish_path(@dish), method: :post, class: "btn-floating btn-large waves-effect waves-light blue", style: "font-size: 15px; bottom: 10px" %>
      </div>

      <% else %>

        <button class=" btn-large waves-effect waves-light red" onclick="addStripeInformation({'name':'<%= current_user.name %>','email':'<%= current_user.email %>'});" style="font-size: 10px; border-radius: 20px 20px 20px 20px; position: absolute; right: 0px; bottom: 5%">Add Card To Order</button>
      <% end %>


  </h4>

  </div>

    <div class="panel-body">

  <div id="food_image">

          <% if @dish.image_url != "" %>
          <%= image_tag(@dish.image_url, height: "300px", id: "foodpic")%>
        <% else %>
        <img height="300px" src='<%= @dish.image.to_s.gsub('http://s3.amazonaws.com/trophus-dishes/', 'http://trophus-dishes.s3.amazonaws.com/') %>'>
        <% end %>

        <div style="text-align: center; float: right; height: 200px; width: 400px;"><h5><%= @dish.description %> </h5> </div>



          </div>


<h5 style="text-align: center;"></h5>

                

  </div>

<div class="panel-footer">
  <%= link_to 'Edit', edit_dish_path(@dish), class: "btn-floating btn-large waves-effect waves-light teal" %>
  <%= link_to 'Back', dishes_path, class: "btn-floating btn-large waves-effect waves-light teal" %>
  <span style="float: right;"><p style="margin: 0px; font-weight: normal; font-size: 12px; float: right"> Listed by <p> <a href='/users/<%= User.find(@dish.user_id).id %>/show'> <%= User.find(@dish.user_id).name %></a> </p>  </span>
</div>

</div>

