<p style="position: absolute; top: 50px" id="notice"></p>
<div class="panel panel-default" style="display: block; margin-top: 10px; margin-left: auto; margin-right: auto; width: 70%;">
  <div class="panel-heading">

  <style>
    #foodpic { 
      height: 300; 
      border-radius:30px; 
      overflow: hidden; 
      box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #dish_data {
      margin-top:0px;
      padding-bottom: 15px;
    }
  </style>

  <h4 id="dish_data">
      <span style="float: right;">   <%= link_to 'Order', order_dish_path(@dish), method: :post, class: "btn-floating btn-large waves-effect waves-light blue", style: "font-size: 10px" %>
      </span>
      <span style="float:left"> <%= @dish.name %></span></br>
      <span style="float:left">  $<%= @dish.price %> </span>
  </h4>

  </div>

    <div class="panel-body">

  <div id="food_image">

          <% if @dish.image_url != "" %>
          <%= image_tag(@dish.image_url, height: "300px", id: "foodpic")%>
        <% else %>
        <img height="300px" src='<%= @dish.image.to_s.gsub('http://s3.amazonaws.com/trophus-dishes/', 'http://trophus-dishes.s3.amazonaws.com/') %>'>
        <% end %>



          </div>
                <h5 style="text-align: center;"><%= @dish.description %> </h5>
                  <p style="margin: 0px; font-weight: normal; font-size: 12px; float: right"> Made with love by <%= User.find(@dish.user_id).name %> </p>  

  </div>

<div class="panel-footer">
  <%= link_to 'Edit', edit_dish_path(@dish), class: "btn-floating btn-large waves-effect waves-light teal" %>
  <%= link_to 'Back', dishes_path, class: "btn-floating btn-large waves-effect waves-light teal" %>

</div>

</div>

