<p id="notice"></p>
<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>	<% if @dish.image_url != nil %>
		<%= link_to image_tag(@dish.image_url, height: "200px"), @dish.image_url %>
	<% else %>
		<%= link_to image_tag(@dish.image.url(:med)), @dish.image.url %>
	<% end %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>