<p id="notice"></p>
<div class="panel panel-default">
  <div class="panel-heading">

  <h3><%= @dish.name %> - $<%= @dish.price %></h3>

  </div>

    <div class="panel-body">

        <h5><%= @dish.description %> </h5>


          <% if @dish.image_url != "" %>
          <%= link_to image_tag(@dish.image_url, height: "300px"), @dish.image_url %>
        <% else %>
        <img height="300px" src='<%= @dish.image.to_s.gsub('http://s3.amazonaws.com/trophus-dishes/', 'http://trophus-dishes.s3.amazonaws.com/') %>'>
        <% end %>
  </div>

<div class="panel-footer">
  <%= link_to 'Edit', edit_dish_path(@dish), class: "btn-floating btn-large waves-effect waves-light teal" %>
  <%= link_to 'Back', dishes_path, class: "btn-floating btn-large waves-effect waves-light teal" %>  
</div>

</div>

