
<nav class="teal accent-4">
  <div class="nav-wrapper">
    
    <% if !current_user.nil? %>
        <ul class="left">
      
<li><a href="/primary"><%= image_tag "trophus_dark_teal.png", height: "70px" %></a></li>
      
      <li><div class="btn-floating btn-large waves-effect waves-light teal">
        <a href="/map" style="text-decoration: none;"><i class="mdi-maps-layers"></i></a>
      </div></li>
    
      <li><div class="btn-floating btn-large waves-effect waves-light teal">
       <a style="text-decoration: none" href="/users/<%= current_user.id %>/show"> <i class="mdi-action-account-circle"></i></a>
      </div></li>

<li style=" bottom: 10px;"><a href='/auth/facebook' class="btn-large waves-effect waves-light blue", style="text-decoration: none; width: 20px; border-radius: 8px 8px 8px 8px;  margin-right: 0px"><img height="100%;" style="position: relative; right: 25px" src="https://trophus.herokuapp.com/facebook.png"></a></li>

<style>
.happycamper:hover {color: red;}
</style>
      <li><button class="happycamper btn-large waves-effect waves-light teal lighten-3" style="margin-left: 100px; height: 40px"><a style="text-decoration:none; position: relative; bottom: 8px" href="/careers">Careers</a></button></li>


<!-- <li style=" bottom: 10px;"><a href='/primary' class="btn-large waves-effect waves-light blue", style="text-decoration: none; width: 20px; border-radius: 8px 8px 8px 8px;  margin-right: 0px"><img height="100%;" style="position: relative; right: 25px" src="https://trophus.herokuapp.com/facebook.png"></a></li>

 -->

        </ul>
  <% end %>

    
    <% if !current_user %>
      <ul class="right" style="position:relative; right: 30px">
<!--       

LOGIN/SIGNUP WITH MATERIALIZE CSS ICONS...

<li title = "Sign up"><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_registration_path %>'"><i class="mdi-social-person-add"></i></button></div></li> 
          <li title = "Log in"><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_session_path %>'"><i class="mdi-action-account-box"></i></button></div></li>
 -->
            <li title = "Sign up"><div><button class="btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_registration_path %>'">Sign up</button></div></li> 

                      <li title = "Log in"><div><button class="btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_session_path %>'">Log In</button></div></li>
      </ul>
      <% else %>


        <ul class="right">

          <li> 
            <form style="positive: relative; width: 400px" class="search" id = "autocomplete">
              <div class="input-field">
                <input autocomplete="off" name="q" id="q" type="search"  onKeyUp="myHandler();" placeholder="Search..." required>
                <label for="search"><i class="mdi-action-search"></i></label>
                <i class="mdi-navigation-close" onclick="destroy()"></i>
              </div>

                <div id="results">
                  
                </div>

            </form>
          </li>



            <% if current_user.customer_id.nil? %>

              <li>
                <button class="btn-floating btn-large waves-effect waves-light teal" "onclick" ="addStripeInformation({'name': '<%= current_user.name %>', 'email': '<%= current_user.email %>'});">
                <i class="mdi-action-payment"></i></button>
              </li>
            <% else %>
              
            <% end %>

            <% if current_user.transfers_enabled == nil %>
              
              <!-- THIS IS TO ADD BANK ACCOUNT INFORMATION TO SELL FOOD -->

              <li><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick=" $('#modal1').openModal()"><i class="mdi-action-account-balance"></i></button></div></li>
                
            <% else %>

              <!-- THIS IS THE ADD DISH BUTTON -->
              <li><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='/dishes/new'"><i class="mdi-content-add"></i></button></div></li>

              <% if current_user.dishes.length > 0 %>
              <li>
                <div>
                  <button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= dishes_path %>'">
                    <i class="mdi-action-view-headline"></i>
                  </button>
                </div>
              </li>
              <% end %>



            <% end %>


            <li>
              <div>
                <a href="" class="dropdown-button btn btn-floating btn-large waves-effect waves-light teal" data-activates="dropdown1"><i class="mdi-action-settings"></i></a>
              </div>
              </li>

        </ul> <!-- CLOSE OF RIGHT NAVBAR VIA MATERIALIZECSS-->

        <ul id='dropdown1' style='width: auto !important; z-index: 140' class='dropdown-content'>
          <li><h4><%= current_user.name %></h4></li>

          <li><%= button_to "Log out", destroy_user_session_path, style: "position: relative; left: 17.5%;", method: :delete, class: "btn btn-default navbar-btn btn-xs", method: :delete %>
          </li>
        </ul>

        <% end %>

        </ul>  
      



      
    </div>
  </nav>