<nav class="teal accent-4">
  <div class="nav-wrapper">
    <% if !current_user.nil? %>
      <a href="/"><%= image_tag "trophus_dark_teal.png", height: "80px" %></a>
      
      <div class="btn-floating btn-large waves-effect waves-light teal">
        <i class="mdi-action-home" onClick="window.location.href='/'"></i>
      </div>
    
      <div class="btn-floating btn-large waves-effect waves-light teal">
        <i class="mdi-image-tag-faces" onClick="window.location.href='/contact'"></i>
      </div>
  <% else %>

    <% end %>
    <ul class="nav navbar-nav navbar-right" style="position:relative; right: 30px">
      <% if !current_user %>
          <li title = "Sign up"><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_registration_path %>'"><i class="mdi-social-person-add"></i></button></div></li> 
          <li title = "Log in"><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_session_path %>'"><i class="mdi-action-account-box"></i></button></div></li>
      <% else %>



        <% if current_user.transfers_enabled == nil %>

        <li><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick=" $('#modal1').openModal()"><i class="mdi-action-account-balance"></i></button></div></li>
          
        <% else %>
                      <li><div><button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='/dishes/new'"><i class="mdi-content-add"></i></button></div></li>


        <% end %>

        <% if current_user.customer_id.nil? %>
          <li>
            <button class="btn-floating btn-large waves-effect waves-light teal" onclick="addStripeInformation({'name': '<%= current_user.name %>', 'email': '<%= current_user.email %>'});">
            <i class="mdi-action-payment"></i></button>
          </li>
        <% else %>
          <li>
            <div>
              <button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= dishes_path %>'">
                <i class="mdi-action-view-headline"></i>
              </button>
            </div>
          </li>
        <% end %>

        <li>
          <div>
            <a href="" class="dropdown-button btn btn-floating btn-large waves-effect waves-light teal" data-activates="dropdown1"><i class="mdi-action-account-circle"></i></a></div></li>


        <ul id='dropdown1' style='width: auto !important;' class='dropdown-content'>
          <li><h4><%= current_user.name %></h4></li>

          <li><%= button_to "Log out", destroy_user_session_path, style: "position: relative; left: 17.5%;", method: :delete, class: "btn btn-default navbar-btn btn-xs", method: :delete %>
          </li>
        </ul>

          <li> 
              
          </li>
        <% end %>
      </ul>  
      


      <ul class="right hide-on-med-and-down" style="position: relative; right: 80px">
        <li>
            <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="mdi-action-search"></i></label>
              <i class="mdi-navigation-close"></i>
            </div>
          </form>
      </li>
      </ul>
    </div>
  </nav>