<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="<%= 'active' if current_page?(root_path) %>"><div class="btn navbar-btn" onClick="window.location.href='/'"><span style="color: white" class="fa fa-home fa-x"></span></div></li>
        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
        <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
          <li> 
            <%= button_to "Sign up", 
                new_user_registration_path, 
                class: "btn btn-default navbar-btn", method: :get %> 
          </li>  
          
          <li> 
            <%= button_to "Log in",
            new_user_session_path, 
            class: "btn btn-default navbar-btn", method: :get %> 
          </li>
        
        <% else %>

          <% if current_user.stripe_id.nil? %>


          <li>
            <button class="button btn btn-default navbar-btn" id="customButton" 
            onclick="addStripeInformation({name: '<%= current_user.name %>', email: '<%= current_user.email %>'});">Add Payment Information</button>
          </li>          
          <% else %>
          
          <li> 
            <%= button_to "View dishes", dishes_path, class: "btn btn-default navbar-btn", method: :get%>  
          </li>   
          
          <li> 
            <%= button_to "Add dish", new_dish_path, class: "btn btn-primary navbar-btn", method: :get%>  
          </li>   


          <% end %>
          


          <li class="navbar-text" style="color: black;"><b>Logged in as:</b> <%= current_user.name %></li> 
   
          
          <li> 
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn", method: :delete %>  
          </li>
        <% end %>
      </ul>  
      

    </div><!--/.nav-collapse -->
  </div>
</div>