
<style>
  .btn-large {
    height: 40px;
    width:  200px;
  }

  .icon-text {
    position: relative;
    bottom: 10px;
  }

  span {
    font-size: x-small;
  }

</style>

<% if current_user.nil? and @show_logo %>
  <li><a href="/"><%= image_tag "trophus_dark_teal.png", height: "70px" %></a></li>
<% end %>

    <% if !current_user.nil? %>
        <li><a href="/"><%= image_tag "trophus_dark_teal.png", height: "70px" %></a></li>
        <li>
          <div class="btn-large teal"> 
            <a href="/map" style="text-decoration: none;"> <span class="icon-text"> <!-- <i class="xy mdi-maps-layers" style="color: white;"></i>  --><span style="margin-left: 10px; color: white;">AROUND YOU</span> </span> </a>
          </div>
        </li>
        <li>
          <div class="btn-large teal"> 
            <a style="text-decoration: none" href="/users/<%= current_user.id %>/show"> <span class="icon-text">  <!-- <i class="xy mdi-action-account-circle" style="color: white;"></i> --> <span style="margin-left: 10px; color: white;">YOUR PROFILE</span> </span> </a>
          </div>
        </li>
        <li>
          <% if current_user.fb_hd_profile_picture.nil? %>
            <div class="btn-large blue">
              <a href='/auth/facebook'> <span class="icon-text"> <i class="xy fa fa-facebook-official" style="color: white;"> </i> <span style="margin-left: 10px; color: white;">Connect</span> </span> </a>
            </div>
          <% end %>
        </li>  
    <% end %>

    
    <% if !current_user %>

        <li title = "Sign up">
          <div>
            <button class="btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_registration_path %>'"><span class="icon-text">Sign up</span></button>
          </div>
        </li> <!-- end of 'Sign up' -->

        <li title = "Log in">
          <div>
            <button class="btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_session_path %>'"><span class="icon-text">Log In</span></button>
          </div>
        </li> <!-- end of 'Log in' -->

    <% else %>

      <% if current_user.customer_id.nil? %>
        <li>
          <button class="btn-floating btn-large waves-effect waves-light teal" onclick="addStripeInformation({'name': '<%= current_user.name %>', 'email': '<%= current_user.email %>'});">
                <i class="mdi-action-payment"></i>
          </button>
        </li>
      
      <% else %>
      
      <% end %>

      <% if current_user.transfers_enabled == nil %>
        <!-- THIS IS TO ADD BANK ACCOUNT INFORMATION TO SELL FOOD -->
        <li>
          <div>
            <button class="btn-large waves-effect waves-light teal" onclick=" $('#modal1').openModal()">
              <span class="icon-text" style="color: white;"> ADD BANK ACCOUNT </span>
            </button>
          </div>
        </li>
      <% else %> <!-- if current_user.transfers_enabled != nil -->

        <!-- THIS IS THE ADD DISH BUTTON -->
        <li>
          <div>
            <button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_dish_path %>'">
              <i class="mdi-content-add"></i>
            </button>
          </div>
        </li>

          <% if current_user.dishes.length > 0 %> <!-- IF USER HAS MADE AT LEAST ONE DISH, SHOW BUTTON THAT LETS THEM SEE IT -->
            <li>
              <div>
                <button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= dishes_path %>'">
                  <span class="icon-text" style="color: white;"> SEE YOUR DISHES</span>
                </button>
              </div>
            </li>
          <% end %> <!-- IF THEY HAVE NOT MADE MORE THAN 1 DISH, THEN DON'T SHOW THEM -->
      <% end %> <!-- end of transfers_enabled block -->

                <li>

                  <div>

<button class="btn-large waves-effect waves-light teal" data-method="delete" href="/users/sign_out" rel="nofollow" style="height: 40px; width:  200px; text-decoration: none; font-size: x-small;"> <span style="position: relative; bottom: 10px;"> LOG OUT </span> </button>


<!--                     <button formmethod="delete" class="btn-large waves-effect waves-light teal" onclick="window.location.href='<%= destroy_user_session_path %>'">
                      <span class="icon-text" style="color: white;"> LOG OUT </span>
                    </button>
 -->                  </div>


                </li>


    <% end %> <!-- end of current user block -->
      <li> 
        <div class="btn-large waves-effect waves-light teal">
          <a href="/careers"><span class="icon-text" style="color: white; text-decoration: none;">Careers</span></a>
        </div>
      </li>


  </ul>