
<style>
  .btn-large {
    height: 50px;
    width:  200px;
  }
</style>
<% if current_user.nil? and @show_logo %>
  <li><a href="/"><%= image_tag "trophus_dark_teal.png", height: "70px" %></a></li>
<% end %>

    <% if !current_user.nil? %>
        <li><a href="/"><%= image_tag "trophus_dark_teal.png", height: "70px" %></a></li>
        <li>
          <div class="btn-large teal"> 
            <a href="/map" style="text-decoration: none;"> <i class="mdi-maps-layers" style="color: white; position: absolute; left: 30px;"></i> <span style="margin-left: 5px; color: white;">LOCAL</span></a>
          </div>
        </li>
        <li>
          <div class="btn-large teal"> 
            <a style="text-decoration: none" href="/users/<%= current_user.id %>/show"> <i class="mdi-action-account-circle" style="color: white; position: absolute; left: 30px;"></i> <span style="margin-left: 5px; color: white;">PROFILE</span></a>
          </div>
        </li>
        <li>
          <div class="btn-large blue">
            <a href='/auth/facebook'> <i class="fa fa-facebook-official" style="color: white; position: absolute; left: 30px;"> </i> <span style="margin-left: 5px; color: white;">FRIENDS</span></a></li>  
          </div>
          
    <% end %>

    
    <% if !current_user %>

        <li title = "Sign up">
          <div>
            <button class="btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_registration_path %>'">Sign up</button>
          </div>
        </li> <!-- end of 'Sign up' -->

        <li title = "Log in">
          <div>
            <button class="btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_user_session_path %>'">Log In</button>
          </div>
        </li> <!-- end of 'Log in' -->

    <% else %>
      <li><a href="/careers">Careers</a></li>

      <% if current_user.customer_id.nil? %>
        <li>
          <button class="btn-floating btn-large waves-effect waves-light teal" onclick="addStripeInformation({'name': '<%= current_user.name %>', 'email': '<%= current_user.email %>'});">
                <i class="mdi-action-payment"></i>
          </button>
        </li>
      
      <% else %>
      
      <% end %>

      <% if current_user.transfers_enabled == nil %>
        <!-- THIS IS TO ADD BANK ACCOUNT INFORMATION TO SELL FOOD -->
        <li>
          <div>
            <button class="btn-floating btn-large waves-effect waves-light teal" onclick=" $('#modal1').openModal()">
              <i class="mdi-action-account-balance"></i>
            </button>
          </div>
        </li>
      <% else %> <!-- if current_user.transfers_enabled != nil -->

        <!-- THIS IS THE ADD DISH BUTTON -->
        <li>
          <div>
            <button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= new_dish_path %>'">
              <i class="mdi-content-add"></i>
            </button>
          </div>
        </li>

          <% if current_user.dishes.length > 0 %> <!-- IF USER HAS MADE AT LEAST ONE DISH, SHOW BUTTON THAT LETS THEM SEE IT -->
            <li>
              <div>
                <button class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location.href='<%= dishes_path %>'">
                  <i class="mdi-action-view-headline"></i>
                </button>
              </div>
            </li>
          <% end %> <!-- IF THEY HAVE NOT MADE MORE THAN 1 DISH, THEN DON'T SHOW THEM -->
      <% end %> <!-- end of transfers_enabled block -->


      <script>
        $(".dropdown-button").dropdown();
      </script>

            <li>
              <div>
                <a href="" class="dropdown-button btn btn-floating btn-large waves-effect waves-light teal" data-activates="dropdown1"><i class="mdi-action-settings"></i></a>
              </div>
            </li>

            <ul id='dropdown1' style='width: auto !important; z-index: 140' class='dropdown-content'>
                <li><h4><%= current_user.name %></h4></li>

                <li><%= button_to "Log out", destroy_user_session_path, style: "position: relative; left: 17.5%;", method: :delete, class: "btn btn-default navbar-btn btn-xs", method: :delete %>
                </li>
              </ul>



    <% end %>
  </ul>