<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>trophus</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
  <%= render('layouts/analytics') %>
  <%= render('layouts/cdn') %>
  <%= render('layouts/stripe') %>
  <%= csrf_meta_tags %>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>

  <% if current_user %>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) {
          window.console.log(message);
        }
      };

      var pusher = new Pusher('73195631734c1aab016e');
      var channel = pusher.subscribe('private-'+<%= current_user.id %>);
      console.log("channel registration");
      console.log(channel);

      channel.bind('my_event', function(data) {
          $.ajax({
            type: "GET",
            url: 'get_user_notif_count'
          });
      });
    </script>
  <% end %>

</head>
<body>
  <script>
      mixpanel.track("User visited the application.");

      <% if Rails.env == "production" %>

          $(function() {
             if (window.location.protocol != "https:")
                 window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
          })

      <% end %>
  </script>

	<%= render('layouts/header3') %>

  <div class="container">
    <% flash.each { |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% } %> 

    <%= yield %>

    <div class="foodstuff"></div>

  </div>



  <% if current_page?(root_path) and current_user.nil? %>
    <div id="mixpanel" style="position: absolute; bottom: 0px; right: 0px;">
      <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
    </div>
<% end %>

<style>
  .fotter {
    margin-left: 20px;
    margin-right: 20px;
      color: white;
      text-transform: capitalize;
  }
</style>
<footer class="page-footer" style="position: fixed; bottom: 0; width: 100%; height: 40px; background-color: teal; color: white; z-index: 99999">
  <span style="float: left">
      <% if current_user %>
        <a class="fotter" style="position: relative; bottom: 10px" href="/conversations"> conversations </a>
      <% end %>
      <a class="fotter" style="position: relative; bottom: 10px" href="/map"> around you </a>
      <% if current_user %>
        <a class="fotter" style="position: relative; bottom: 10px" href="/users/<%= current_user.id %>/show"> profile </a>
      <% end %>
  </span>

  <span style="float: right">
      <a class="fotter" style="position: relative; bottom: 10px" href="/about"> about </a>
      <a class="fotter" style="position: relative; bottom: 10px" href="/contact"> contact </a>
      <a class="fotter" style="position: relative; bottom: 10px" href="/legal"> legal </a>
      <a class="fotter" style="position: relative; bottom: 10px" href="/tos"> terms of service </a>
      <a class="fotter" style="position: relative; bottom: 10px" href="/privacy"> privacy policy </a>
  </span>
</footer>



<%= render('layouts/modal_tos') %>
<%= render('layouts/modal_profile') %>

<%= render('layouts/modal_multiple') %>
<%= render('layouts/modal_multicreate') %>
<%= render('layouts/modal_single') %>

<%= render('layouts/modal_banking_info') %>
<%= render('layouts/modal_alert') %>






</body>
</html>
