<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>trophus</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= render('layouts/analytics') %>
  <%= render('layouts/cdn') %>
  <%= render('layouts/stripe') %>
  <%= csrf_meta_tags %>
  <!-- This is just a comment -->
</head>
<body>
  <script>
      mixpanel.track("User visited the application.");
  </script>

	<%= render('layouts/header3') %>

  <div class="container">

    <% flash.each { |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% } %> 

    <%= yield %>

    <div class="foodstuff"></div>

  </div>

<%= render('layouts/modal_tos') %>
<%= render('layouts/modal_profile') %>

<%= render('layouts/modal_multiple') %>
<%= render('layouts/modal_multicreate') %>
<%= render('layouts/modal_single') %>

<%= render('layouts/modal_banking_info') %>
<%= render('layouts/modal_alert') %>

</body>
</html>
